.icon-links {
    display:flex;
    justify-content:center;
    position:relative;
    padding-bottom:14vh;
    @media (max-width:991px) {
        padding-bottom:15vw;
    }
    > div {
        width:140px;
        height:140px;
        position:relative;
        margin-right:48px;
        @include smooth;
        @media (max-width:1400px) {
            width:116px;
            height:116px;
        }
        @media (max-width:991px) {
            width:72px;
            height:72px;
        }
        @media (max-width:480px) {
            width:48px;
            height:48px;
        }
        &:last-of-type {
            margin-right:0;
        }
        &:hover {
            transform:scale(1.2);
        }
        a {
            display:flex;
            flex-direction:column;
            justify-content:center;
            height:100%;
            width:100%;
            @include no-select-highlight;
            svg {
                height:80px;
            }
        }
    }
}