@use "animations" as *;

@mixin transition-fast {
    transition: all $transition-fast, filter 0s;
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@mixin transition-smooth {
    transition: $transition-smooth ease;
    //transition-timing-function:cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@mixin transition-medium {
    transition: all $transition-medium, filter 0s;
    transition-timing-function: cubic-bezier(0, 0, .19, 1);
}

@mixin transition-slow {
    transition: all $transition-slow, filter 0s;
    transition-timing-function: cubic-bezier(0, 0, .19, 1);
}


@mixin no-select-highlight {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}