@use "mixins" as *;
@use "colors" as *;

@font-face {
    font-family: "Evolve";
    font-weight: normal;
    src: url("../assets/fonts/MADE Evolve Sans Regular.woff") format("woff")
}

@font-face {
    font-family: "Visby";
    font-weight: normal;
    src: url("../assets/fonts/VisbyCF-Bold.woff") format("woff")
}

@font-face {
    font-family: "Kenfolg";
    src: url("../assets/fonts/MADE Kenfolg v2.woff") format("woff")
}


body {

    *,
    *:before,
    *:after {
        font-family: 'Visby', 'Helvetica', 'Arial', sans-serif;
    }

    p {
        font-family: 'Evolve', 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    }

    &.loading {
        main #index.page {

            h1,
            h2,
            h3,
            h4,
            h5,
            p,
            span,
            li,
            a {
                @include transition-smooth;
            }
        }
    }

    h1 {
        font-size: 140px;
        margin-bottom: 40px;
        user-select: none;

        @media (max-width:1368px) {
            font-size: 70px;
        }

        @media (max-width:768px) {
            //font-size:36px;
            font-size: 10vw;
        }

        @media (max-width:480px) {
            //font-size:28px;
            font-size: 10vw;
            max-width: calc(100% - 32px);
            margin-left: auto;
            margin-right: auto;
        }

        .char {
            margin: 0 -4px;

            @media (max-width:1368px) {
                margin: 0 -1.5px;
            }

            @media (max-width:768px) {
                margin: 0 -0.2vw;
            }
        }
    }

    h2 {
        font-size: 80px;
        margin-bottom: 32px;
        user-select: none;

        @media (max-width:1368px) {
            font-size: 40px;
        }

        @media (max-width:768px) {
            font-size: 6vw;
        }

        @media (max-width:480px) {
            max-width: calc(100% - 32px);
            margin-left: auto;
            margin-right: auto;
        }

        .char {
            margin: 0 -2px;

            @media (max-width:1368px) {
                margin: 0 -1px;
            }

            @media (max-width:768px) {
                margin: 0 0;
            }
        }
    }

    h1,
    h2 {
        cursor: default;
    }

    h5 {
        font-size: 18px;

        @media (max-width:768px) {
            font-size: 16px;
        }

        @media (max-width:480px) {
            font-size: 14px;
        }
    }

    p {
        font-size: 40px;
        margin: 0 auto;
        text-align: center;
        max-width: calc(100vw - 32px);
        @include transition-smooth;

        @media (max-width:1368px) {
            font-size: 20px;
        }

        @media (max-width:768px) {
            font-size: 18px;
        }

        @media (max-width:480px) {
            font-size: 16px;
        }

        span {
            font-size: inherit;
            font-weight: inherit;
            font-family: inherit;
        }
    }

    span.char {
        backface-visibility: hidden;
        transform: translateZ(0) translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;
        overflow: hidden;
        opacity: 1;
        visibility: visible;
        position: relative;
        display: inline-block;
        color: transparent !important;
        padding: 4px 0;
        user-select: none;

        @media (max-width:1368px) {
            padding: 2px 0;
        }

        @media (max-width:480px) {
            padding: 0px 0 1px;
        }

        &:before {
            content: attr(data-char);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: translateY(102%);
            visibility: visible !important;
            animation-delay: calc(0.04s * var(--char-index)) !important;
            backface-visibility: hidden;
            will-change: transform;
            color: currentColor;
            color: #000;
        }

        &[data-reset]:before {
            transform: translateY(102%) !important;
            animation: none !important;
        }

        &.reveal-char:before {
            animation: revealChar 0.8s;
            animation-fill-mode: forwards;
            animation-timing-function: cubic-bezier(.785, 0.135, 0.15, 0.86);
        }
    }
}

h2 {
    &.titles-wrapper {
        position: relative;
    }

    .title {
        opacity: 0;
        position: absolute;
        @include transition-smooth;
        transition: all 0.4s;
        left: 0;
        right: 0;

        &.active {
            opacity: 1;
            transition: all 0.4s;
            transition-delay: 0.3s;
        }
    }
}

.project.page,
#about.page,
#contact.page {
    p {
        font-size: 32px;
        width: 1200px;
        max-width: calc(100% - 32px);
        margin: 32px auto;
        text-align: center;

        @media (max-width:1368px) {
            font-size: 20px;
            width: 734px;
        }

        @media (max-width:991px) {
            width: 672px;
        }

        @media (max-width:480px) {
            font-size: 16px;
            width: calc(100vw - 32px);
        }
    }
}

.splitting {
    ::selection {
        background: transparent;
    }
}

span {
    &.char {
        overflow: hidden;
        opacity: 1;
        visibility: visible;
        position: relative;
        display: inline-block;
        padding: 4px 0;
        color: transparent;

        @media (max-width:1368px) {
            padding: 2px 0;
        }

        @media (max-width:480px) {
            padding: 0px 0 1px;
        }

        &:before {
            content: attr(data-char);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: translateY(102%);
            visibility: visible !important;
            animation-delay: calc(0.04s * var(--char-index)) !important;
            backface-visibility: hidden;
            will-change: transform;
            color: inherit;
            color: #000;
        }

        &[data-reset]:before {
            transform: translateY(102%) !important;
            animation: none !important;
        }

        &.reveal-char:before {
            animation: revealChar 0.8s;
            animation-fill-mode: forwards;
            animation-timing-function: cubic-bezier(.785, 0.135, 0.15, 0.86);
        }
    }
}

.splitting {
    &.reveal {
        span.char {
            &:before {
                animation: revealChar 0.42s;
                animation-fill-mode: forwards;
                animation-timing-function: cubic-bezier(.785, 0.135, 0.15, 0.86);
            }
        }
    }
}

.splitting-rows {
    -webkit-transform: perspective(1000px);
    perspective: 1000px;
    opacity: 0;
    transition: opacity 0.5s ease;

    &.reveal {
        opacity: 1;

        .line {
            animation: zFadeIn 1.4s;
            animation-fill-mode: forwards;
            animation-timing-function: cubic-bezier(.785, 0.135, 0.15, 0.86);

            @for $i from 1 through 10 {
                &[data-line-index="#{$i - 1}"] {
                    animation-delay: calc(0.1s * #{$i} + 0.2s);
                }
            }
        }
    }

    .line {
        opacity: 0;
        display: block;
        overflow: hidden;
        line-height: 1.4;
        margin-bottom: 0.2em;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.splitting.blurRotate {
    span {
        &.char {
            &:before {
                transform: translateY(102%);
                visibility: visible !important;
            }

            &.reveal-char {
                animation: revealChar 1s;
                animation-fill-mode: forwards;
                animation-timing-function: cubic-bezier(.785, 0.135, 0.15, 0.86);
            }
        }

        &.word {
            @for $i from 1 through 40 {
                &:nth-of-type(#{$i}) {
                    span.char {
                        @for $x from 1 through 40 {
                            &:nth-of-type(#{$x}) {
                                &:before {
                                    animation-delay:#{ ($x * 0.028s) + ($i * 0.04s) } !important; // fast
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.reveal {
        span.char {
            animation: rotateWrapper 1.6s;
            animation-fill-mode: forwards;
            animation-timing-function: cubic-bezier(.785, 0.135, 0.15, 0.86);
            user-select: none;

            &:before {
                animation: revealChar 0.44s, blurIn 0.6s;
                animation-fill-mode: forwards;
                animation-timing-function: cubic-bezier(.785, 0.135, 0.15, 0.86);
            }
        }
    }
}