#index {

    h1 {
        font-size:140px;
        margin-bottom:16px;
        @media (min-width:1369px) and (max-height:780px) {
            font-size:100px;
        }
        @media (max-width:1368px) {
            font-size:70px;
        }
        @media (max-width:768px) {
            font-size:10vw;
        }
        @media (max-width:480px) {
            font-size:10vw;
        }
    }
    h2 {
        font-size:80px;
        margin-bottom:32px;
        @media (min-width:1369px) and (max-height:780px) {
            font-size:60px;
        }
        @media (max-width:1368px) {
            font-size:40px;
        }
        @media (max-width:768px) {
            font-size:24px;
        }
        @media (max-width:480px) {
            font-size:20px;
        }

        &.titles-wrapper {
            .title {
                &:not(.active) {
                    pointer-events:none;
                    span.char {
                        &:before {
                            transform:translateY(0)!important;
                        }
                    }
                }
                &.hidden {
                    display:none;
                }

                span.char {
                    backface-visibility:hidden;
                    transform:translateZ(0) rotate(0.01deg);
                    -webkit-backface-visibility: hidden;
                    -webkit-perspective: 1000;
                    &:before {
                        backface-visibility:hidden;
                        -webkit-backface-visibility: hidden;
                        -webkit-perspective: 1000;
                    }
                }
            }
            &.reveal {
                .title:not(.active) {
                    span.char {
                        animation:none!important;
                        &:before {
                            animation:none!important;
                        }
                    }
                }
                &.active {
                    span.char {
                        //animation:rotateWrapper 0.6s;
                        //animation-fill-mode:forwards;
                        //animation-timing-function:0.785, 0.135, 0.15, 0.86;
                        &:before {
                            animation:revealChar 0.44s;
                            animation-fill-mode:forwards;
                            animation-timing-function:cubic-bezier(.785, 0.135, 0.15, 0.86);
                        }
                    }
                }
            }

        }
    }
    h1, h2 {
        cursor:default;
    }
    p {
        font-size:40px;
        width:1174px;
        max-width:calc(100% - 32px);
        margin:0 auto;
        text-align:center;
        @include smooth;
        animation-delay:0.4s;
        @media (min-width:1369px) and (max-height:780px) {
            font-size:32px;
            width:932px;
        }
        @media (max-width:1368px) {
            font-size:20px;
            width:774px;
        }
        @media (max-width:991px) {
            width:560px;
        }
        @media (max-width:768px) {
            font-size:18px;
        }
        @media (max-width:480px) {
            font-size:16px;
        }
    }

}
