@use "../base" as *;
@use "../components" as *;

main {

  .page {
    //padding-top:280px;
    width: 100vw;
    padding-bottom: 14vh;

    &:not(#index) {
      padding-top: 20vh;
      padding-bottom: 0;

      @media (min-width: #{$desktop-viewport + 1px}) {
        padding-top: 25vh;
      }
    }
  }
}

body {
  &.loading {
    main .page {
      //opacity:0;
    }
  }
}