main {

  .page {
    //padding-top:280px;
    width:100vw;
    padding-bottom:14vh;

    &:not(#index) {
      padding-top:12vh;
      padding-bottom:0;
      @media (min-width:991px) {
        padding-top:25vh;
      }
    }
  }
}

body {
  &.loading {
    main .page {
      //opacity:0;
    }
  }
}
