@use "../base" as *;
@use "../components" as *;

#stage {
    position: relative;
    z-index: 50;
    min-height: 100vh;

    #viewport {
        position: relative;
        width: 100%;
        z-index: 50;
        background: #fff;
        transition: background 0.8s ease-in-out;
        overflow: visible;

        main {
            position: relative;
            overflow: visible;
            z-index: 50;
            display: flex;
            justify-content: center;
            backface-visibility: hidden;
            transform-style: preserve-3d;
            width: 100%;
        }
    }
}

body.portrait {
    #works.page {
        .projects {
            height: 68vh;
            justify-content: center;
            padding-bottom: 0;
        }
    }

    .next-project-banner {
        height: 50vw;
    }

    main {
        .page {
            padding-bottom: 12vh;

            @media (max-width:480px) {
                padding-bottom: 16vh;
            }

            &:not(#index) {
                padding-top: 12vh;
                padding-bottom: 0;

                @media (max-width:480px) {
                    padding-top: 16vh;
                }
            }
        }
    }
}