<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8" />
<link rel="stylesheet" href="https://use.typekit.net/fqo0atd.css" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Primary Meta Tags -->
<title>Adrain Wolfe - UI/UX Designer + Developer</title>
<meta name="title" content="Adrain Wolfe - UI/UX Designer + Developer" />
<meta
  name="description"
  content="I'm a Designer/Developer who loves all things UI/UX and web. From design systems, to component libraries, to visual programming, I'm here to help you build beautiful, functional, and user-friendly web experiences."
/>

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://awolfe.io/" />
<meta property="og:title" content="Adrain Wolfe - UI/UX Designer + Developer" />
<meta
  property="og:description"
  content="I'm a Designer/Developer who loves all things UI/UX and web. From design systems, to component libraries, to visual programming, I'm here to help you build beautiful, functional, and user-friendly web experiences."
/>
<meta property="og:image" content="https://www.awolfe.io/assets/images/awolfe-io.jpg" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://awolfe.io/" />
<meta property="twitter:title" content="Adrain Wolfe - UI/UX Designer + Developer" />
<meta
  property="twitter:description"
  content="I'm a Designer/Developer who loves all things UI/UX and web. From design systems, to component libraries, to visual programming, I'm here to help you build beautiful, functional, and user-friendly web experiences."
/>
<meta property="twitter:image" content="https://www.awolfe.io/assets/images/awolfe-io.jpg" />

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-72750404-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "UA-72750404-5");
</script>

<style>
  #stage {
    display: none;
    background: #222;
  }
</style>
