@use "base" as *;
@use "layout" as *;
@use "components" as *;
@use "pages" as *;

html {

    -webkit-tap-highlight-color: transparent;
    .dg.ac {
        z-index: 9999999999999;
        display: none;
    }

    background: #6ba7fb;
    background:#0c0e18;
    height: 100%;

    &.lenis-smooth {
        scroll-behavior: auto;
    }

    main + canvas {
        filter:brightness(1.2);
        height:100lvh!important;
        @media (min-width: $desktop-viewport) {
            height:calc(100vh + 40px)!important;
        }
    }
}

body {
    overflow-x: hidden;
    min-height: 100vh;
    margin: 0;
    @media (max-width:$desktop-viewport) {
        min-height:100lvh;
    }
    &.lenis {
        height: auto;
    }

    &.lenis-smooth {
        scroll-behavior: auto;
    }

    &.lenis-smooth [data-lenis-prevent] {
        overscroll-behavior: contain;
    }

    &.lenis-stopped {
        overflow: hidden;
    }

    &.resizing {

        *,
        *:before,
        *:after {
            transition: all 0s !important;
            transition-delay: all 0s !important;
        }
    }

    ::selection {
        background: rgba(0,0,0,0.66);
        color: $primary;
    }

    &::-webkit-scrollbar {
        width: 0;
        display: none;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        text-align: center;
    }

    a {
        text-decoration: none;
    }

    p {
        line-height: 1.4;

        a {
            text-decoration: underline;
        }
    }

    div {
        position: relative;
    }

    img,
    svg {
        height: auto;
        max-width: 100%;
    }

}

#height-detect {
    height: 100dvh;
    width: 0;
    position: absolute;
}